html,body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.solvus-standby {
  font-family:'FiraCode-Retina','Fira Code', monospace;
  z-index: 99!important;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  background: linear-gradient(to right, #002fc6 0%, #002bb2 14.2857142857%, #3a3a3a 14.2857142857%, #303030 28.5714285714%, #ff0afe 28.5714285714%, #f500f4 42.8571428571%, #6c6c6c 42.8571428571%, #626262 57.1428571429%, #0affd9 57.1428571429%, #00f5ce 71.4285714286%, #3a3a3a 71.4285714286%, #303030 85.7142857143%, white 85.7142857143%, #fafafa 100%);
}
.solvus-standby, .solvus-standby *{
  box-sizing: border-box;
}
.solvus-standby:before, .solvus-standby:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
}
.solvus-standby:before {
  top: 0;
  height: 68.4782608696%;
  background: linear-gradient(to right, white 0%, #fafafa 14.2857142857%, #ffe60a 14.2857142857%, #f5dc00 28.5714285714%, #0affd9 28.5714285714%, #00f5ce 42.8571428571%, #10ea00 42.8571428571%, #0ed600 57.1428571429%, #ff0afe 57.1428571429%, #f500f4 71.4285714286%, #ed0014 71.4285714286%, #d90012 85.7142857143%, #002fc6 85.7142857143%, #002bb2 100%);
}
.solvus-standby:after {
  bottom: 0;
  height: 21.7391304348%;
  background: linear-gradient(to right, #006c6b 0%, #005857 16.6666666667%, white 16.6666666667%, #fafafa 33.3333333333%, #001b75 33.3333333333%, #001761 50%, #6c6c6c 50%, #626262 66.6666666667%, #929292 66.6666666667%, #888888 83.3333333333%, #3a3a3a 83.3333333333%, #303030 100%);
}

.solvus-standby .center-content, .solvus-standby.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.solvus-standby .display{
  background:#000;
  color:#fff;
  padding: 20px;
  margin:20px;
  border: 5px dashed red;
  outline: 5px solid #fff;
  font-size: 2rem;
  position: relative;
  z-index: 2;
  text-align: center;
}

.solvus-standby .display.connected{
  border-color:#0fde00;
}
.solvus-standby .display.ready{
  background: green;
}

.solvus-standby .display h1,h2,h3,h4{
  margin:0.3em;
  font-weight: 500;
}
.solvus-standby .display h1{
  margin-top:0;
}
.solvus-standby .display h3{
  font-weight: normal;
  font-size: 0.4em;
  margin:0;
}
.solvus-standby .display h2{
  font-size: 0.7em;
}

.solvus-standby .hidden, .solvus-standby.hidden{
  display: none!important;
}